#nav-bar h1{
    float: none;
    text-align: center;
}
#nav-bar ul,
#nav-bar .card{
    float: none;
    text-align: center;
    padding: 0.5rem;
}
#main{
    height: 100%;
}

#describe .container .right{
    float: none;
    width: 100%;
    margin: 0;
   padding-top: 50px;
    
}
#describe .left{
    display: none;
}


.clr{
    clear: both;
}


#about{
   margin-bottom: 100px;
}

#about .info-left,
#about .info-right{
    float: none;
     width: 100%;
}
#about .info-left{
    text-align: center;
}
#about .info-right{
    width: 70%;
    margin: auto;
}

/*contact:*/
#info .container .content{
    float: none;
    width: 100%;
border-bottom: dotted 1px #555 ;
margin-top: 10px;
padding: 10px;
    
}
